# Test Report

Number of Servers: 1
Number of Models per Server: 5
Tasks per Model: 5
Text length: 45
Total Time: 74.02s
Minimum Time: 29.25s
Maximum Time: 74.02s
Average Time: 2.96s
Total Tasks: 25

Number of Servers: 5
Number of Models per Server: 1
Tasks per Model: 5
Text length: 45
Total Time: 26.04s
Minimum Time: 10.15s
Maximum Time: 26.03s
Average Time: 1.04s
Total Tasks: 25

Number of Servers: 2
Number of Models per Server: 5
Tasks per Model: 5
Text length: 45
Total Time: 76.80s
Minimum Time: 20.92s
Maximum Time: 76.78s
Average Time: 1.54s
Total Tasks: 50

Number of Servers: 5
Number of Models per Server: 2
Tasks per Model: 5
Text length: 45
Total Time: 45.80s
Minimum Time: 10.21s
Maximum Time: 45.80s
Average Time: 0.92s
Total Tasks: 50


Number of Servers: 3
Number of Models per Server: 4
Tasks per Model: 5
Text length: 45
Total Time: 64.38s
Minimum Time: 13.12s
Maximum Time: 64.38s
Average Time: 1.07s
Total Tasks: 60


Number of Servers: 3
Number of Models per Server: 5
Tasks per Model: 5
Text length: 45
Total Time: 76.07s
Minimum Time: 9.84s
Maximum Time: 76.06s
Average Time: 1.01s
Total Tasks: 75


Number of Servers: 4
Number of Models per Server: 3
Tasks per Model: 5
Text length: 45
Total Time: 57.37s
Minimum Time: 14.23s
Maximum Time: 57.36s
Average Time: 0.96s
Total Tasks: 60


Number of Servers: 4
Number of Models per Server: 4
Tasks per Model: 5
Text length: 45
Total Time: 71.84s
Minimum Time: 13.53s
Maximum Time: 71.84s
Average Time: 0.90s
Total Tasks: 80


Number of Servers: 4
Number of Models per Server: 5
Tasks per Model: 6
Text length: 45
Total Time: 95.74s
Minimum Time: 13.42s
Maximum Time: 95.72s
Average Time: 0.80s
Total Tasks: 120


(5个Server、每个Server预添加3个Model的配置表现最佳,平均处理时间为0.72秒,总时间为86.89秒)
Number of Servers: 5
Number of Models per Server: 3
Tasks per Model: 8
Text length: 45
Total Time: 86.89s
Minimum Time: 12.42s
Maximum Time: 86.87s
Average Time: 0.72s
Total Tasks: 120


(性能极限)
Number of Servers: 5
Number of Models per Server: 4
Tasks per Model: 6
Text length: 45
Total Time: 111.11s
Minimum Time: 10.38s
Maximum Time: 111.09s
Average Time: 0.93s
Total Tasks: 120

测试报告 - 模型切换并执行任务
迭代次数: 100
每次迭代任务数: 5
总时间: 1749.87s
平均每个任务时间: 3.50s